<div class="error-page">
        <h1>404 - Page Not Found</h1>
        <p>{{#if errorMessage}}{{errorMessage}}{{else}}The page you are looking for does not exist.{{/if}}</p>
        <button><a href="/">Go back to Shop</a></button>
</div>