<div class="error-page">
    <h1>Some ERROR occurred</h1>
    <h2>{{#if errorMessage}}{{errorMessage}}{{/if}}</h2>
    <p>{{#if originalMessage}}Original error: {{originalMessage}}{{/if}}</p>
    <h3>{{#if errorStatus}}{{errorStatus}}{{/if}}</h3>
</div>